

/* Definition of the colors used troughout the PWA */

:root{
  --main-bg-color: #2b4d2b;
  --main-errorbg-color: #a02020;
  --main-hover-color: #8f1d81;
  --main-clear200-color: #ffffff;
  --main-clear600-color: #c0c0c0;
  --main-clear400-color: #e0e0ff;
  --rating-color: #f0c040;
  --main-success: #20a020;
  --main-error: #a02020;

}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin:0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

/* Layout */

.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header{
  grid-area: header;
  background-color: var(--main-bg-color);
}

main{
  grid-area: main;
  padding: 1rem;

}

footer{
  grid-area: footer;
  background-color: var(--main-bg-color);
  color: #ffffff
  
}

/* Common classes to style the entire document */
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}

a{
  text-decoration: none;

}
a:hover{
  color: var(--main-hover-color);
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
}

button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem var(--main-clear400-color) solid;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-clear400-color);
  cursor: pointer;
}
button:hover{
  border: 0.1rem var(--main-bg-color) solid;
}

button.primary{
  background-color: var(--main-hover-color);
  color: var(--main-clear200-color);
}

button.block{
  width: 100%;
}
/* Header */

header a{
  color: var(--main-clear200-color);
  padding: 1rem;
}

a.brand{
  color: var(--main-clear200-color) ;
  font-size: 3rem;
  font-weight: bold;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.top{
  align-items: flex-start;
}

.col-1{
  flex: 1 1 25rem;
}

.col-2{
  flex: 2 1 50rem;
}

.row.center{
  justify-content: center;
}


/* Images */

img{
  border-radius: 0.5rem;
}

img.medium{
  max-width: 29rem;
  width: 100%;
}

img.large{
  width: 100%;
}

/* Card style */

.card{
  border: 0.1rem var(--main-clear400-color) solid;
  background-color: var(--main-clear200-color);
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body{
  padding: 1rem;
}

.card-body > *{
  margin-bottom: 0.5rem;
}

.price{
  font-size: 2rem;
}

/* Rating */

.rating span{
  color: var(--rating-color);
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}

/* Alert */

.success{
  color: var(--main-success);
}

.error{
  color: var(--main-error);
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: o.5rem;

}

.alert-info{
  color: var(--main-hover-color);
  background-color: var(--main-clear400-color);

}

.alert-danger{
  color: var(--main-error);
  background-color: var(--main-errorbg-color);

}